.homepage_hero {
    min-height: 600px;
    margin-top: var(--h-top);
    

    h1 {
        font-size: var(--fs-900);
    }

    &__text_anim_container {
        color: var(--col-blue-400);
        span {
            opacity: 0;
            animation: fadeIn 1s ease-in forwards;
        }
        span:nth-of-type(1) {
            animation-delay: 1s;
        }
        span:nth-of-type(2) {
            animation-delay: 2s;
        }
    }
}

.heroAnim {
    margin-inline: auto;
    position: relative;
    aspect-ratio: 1;
    display: grid;
    overflow: clip;
    isolation: isolate;

    // outline: 1px solid lightgray;

    & > * {
        position: absolute;
    }

    width: 100%;

    &__background {
        width:100%;
        display: grid;
        place-self: center;
        aspect-ratio: 1;
        overflow: clip;
        isolation: isolate;
        & > * {
            position: absolute;
            object-fit: contain;
        }
    }
    .circle {
        place-self: center;
        z-index: 0;
        max-width: 294px;
    }
    .dots {
        place-self: center;
        z-index: 0;
        max-width: 338px;
        animation: dotSpin 8s linear infinite;
        transform-origin: center;
    }
    .gradient {
        place-self: center;
        z-index: 0;
        scale: 0;
        max-width: 260px;
        animation: gradGrow 500ms ease-in forwards;
    }
    .shakira {
        object-fit: contain;
        bottom: 49px;
        right: 23px;
        max-height: 295px;
        z-index: 2;
        animation: shakira 750ms ease-in forwards;
    }
    .laptop {
        object-fit: contain;
        max-width: 260px;
        bottom: 0;
        right: -20px;
        z-index: 3;
        animation: laptop 1s ease-in forwards;
    }
    .phone {
        object-fit: contain;
        max-height: 220px;
        // left: -70px;
        // bottom: 40px;
        left: -100%;
        bottom: 40px;
        opacity: 0;
        z-index: 1;
        animation: phone 750ms ease-in forwards;
        animation-delay: 250ms;
    }
}

@keyframes dotSpin {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

@keyframes gradGrow {
    to {
        scale: 1;
    }
}

@keyframes shakira {
    from {
        scale: 0.8;
        opacity: 0;
        bottom: -10%;
        right: -10%;
    }
    to {
        scale: 1;
        opacity: 1;
        bottom: 49px;
        right: 23px;
    }
}

@keyframes laptop {
    from {
        opacity: 0;
        bottom: -10%;
        right: -110%;
    }
    to {
        opacity: 1;
        bottom: 0;
        right: -20px;
    }
}

@keyframes phone {
    from {
        opacity: 0;
        left: -100%;
        bottom: 40px;

    }
    to {
        opacity: 1;
        left: -70px;
        bottom: 40px;
    }
}